<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

  <title> MKsoft </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Use the correct meta names below for your web application
       Ref: http://davidbcalhoun.com/2010/viewport-metatag

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

  <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">


  <!-- SmartAdmin RTL Support is under construction
      <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->


  <!-- page related CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/lockscreen.css">

  <!-- FAVICONS -->
  <link rel="shortcut icon" href="img/favicon/favicon_mksoft.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon/favicon_mksoft.ico" type="image/x-icon">


</head>
<body>


<div id="main" role="main">
  <form method="post" id="login-form" class="lockscreen animated flipInY">
    <div class="logo"></div>
    <div>

      <input class="form-control" type="text" name="name" placeholder="用户名">
      <input class="form-control" type="password" name="password" placeholder="密码">
      <button class="btn btn-primary" type="submit">
        登陆
      </button>

      <div id="errmsg" style="display: none" class="fa fa-user txt-color-red"></div>

      <!--  <% if (error) { %>
                <div> <i class="fa fa-user txt-color-red"></i>
                    <%= error %></div>
                <% } %>-->
    </div>
    <p class="font-xs margin-top-5">Copyright MkSoft 2015-2020.</p>
  </form>

</div>

<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script src="js/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script> if (!window.jQuery) {
    document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
  } </script>

<script> if (!window.jQuery.ui) {
    document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
  } </script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

<!-- BOOTSTRAP JS -->
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="js/plugin/fastclick/fastclick.js"></script>

<!--[if IE 7]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- MAIN APP JS FILE -->
<script src="js/app.js"></script>

<script type="text/javascript">
  runAllForms();

  //将form转为AJAX提交
  function ajaxSubmit(frm, fn) {
    var dataPara = getFormJson(frm);
    $.ajax({
      url: frm.action,
      type: frm.method,
      data: dataPara,
      success: fn
    });
  }

  //将form中的值转换为键值对。
  function getFormJson(frm) {
    var o = {};
    var a = $(frm).serializeArray();
    $.each(a, function () {
      if (o[this.name] !== undefined) {
        if (!o[this.name].push) {
          o[this.name] = [o[this.name]];
        }
        o[this.name].push(this.value || '');
      } else {
        o[this.name] = this.value || '';
      }
    });

    return o;
  }

  $(function () {
    $('#login-form').bind('submit', function () {
      ajaxSubmit(this, function (data) {
        if (data.error === 0) {
          // alert('用户名错误');
          $('#errmsg').slideUp("fast", function () {
            $('#errmsg').text('用户名错误').slideDown('normal');
          });
          //$('#errmsg').text('用户名错误');
          // $('#errmsg').;;
        } else if (data.error === 1) {
          // alert('密码错误');
          $('#errmsg').slideUp("fast", function () {
            $('#errmsg').text('密码错误').slideDown('normal');
          });
          // $('#errmsg').;
          //$('#errmsg').slideDown('normal');
        } else if (data.error === 2) {
          window.location = "/";
        }
      });
      return false;
    });


    // Validation
    $("#login-form").validate({
      // Rules for form validation
      rules: {
        name: {
          required: true
        },
        password: {
          required: true,
          minlength: 3,
          maxlength: 20
        }
      },

      // Messages for form validation
      messages: {
        name: {
          required: '请输入您的用户名',
        },
        password: {
          required: '请输入您的密码'
        }
      },

      // Do not change code below
      errorPlacement: function (error, element) {
        error.insertAfter(element.parent());
      }
    });
  });
</script>

</body>
</html>